.back {
  margin: auto;
  width: 10rem;
  height: 3rem;
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  /* z-index: 550; */
  border-radius: 4px;
  font-size: 1rem;

  &::before {
    content: "";
    background-color: red;
    width: 5rem;
    position: relative;
    left: -10rem;
  }
}





.rateP,
.rateM {
  display: flex;
  font-size: 30px;

  div {
    position: relative;

    svg {
      margin-left: 0;
    }
  }

  .nochoosen {
    font-size: 18px;
    height: 2rem;
  }

  .choosen {
    background-color: var(--wrap-color);
    color: var(--background-first);
    font-size: 18px;

  }
}

.rateP {
  flex-direction: column;

  div {
    display: flex;

    &:hover {
      opacity: 0.7;
    }
  }


}

.yellow-star {
  color: yellow;

  padding: 5px;

  div svg {
    margin: 0;
    font-size: 20px;
    transform: rotateZ(269deg);
    stroke: var(--wrap-color);
    stroke-width: 30px;
  }
}

.rateM {
  font-size: 12px;
  justify-content: flex-end;
  top: unset;
  bottom: 2px;


  div {
    display: flex;

    svg {
      margin-right: 0;
    }

    &::after {
      content: none;
    }
  }


}

.btnGame {
  position: relative;
  margin: 0 5px;
  border: none;
  font-size: 18px;
  background: var(--background-second);
  // color: var(--main-color-int);
  color: var(--color-second); // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  min-width: fit-content;
  min-height: 3rem;

  svg {
    margin-right: 5px;
    font-size: 25px;
  }

  .svgGameMode {
    // font-size: 29px;
    margin-right: 0;
    width: 24px;
    height: 24px;
  }

  .endlesTitle {
    // position: relative;
    // top: -5px;
    // left: 0;
    width: 100%;

  }

  .endlesName {
    // position: absolute;
    // text-align: end;
    // top: 11px;
    // left: -4px;
    // width: 100%;
    font-style: italic;
    margin-left: 5px;

    // color: var(white);
  }

  &:hover {
    // background-color: var(--wrap-color);
    // color: white;
    color: var(--wrap-color-int);
    background: transparent;

  }



  @media screen and (max-width: 900px) {
    margin-top: 2px;
  }
}

.dv {
  content: "";
  margin: 0 10px;
  width: 2px;
  height: 3rem;
  border-radius: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
  background: var(--wrap-color);
  opacity: 0.1;

  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset; */
  /* background: (var(--background-parts-answ));*/
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.row {
  display: flex;
}


// .base-voice-card-btn {
//   z-index: 0;
//   font-weight: bold;
//   // position: absolute;
//   // bottom: 10px;
//   height: 3rem;
//   width: 60px;
//   font-size: 12px;
//   border-radius: 0 10px 10px 0;
//   border: none;
//   text-decoration: none;
//   cursor: pointer;
//   // overflow: hidden;
//   font-family: Arial;
//   line-height: 1;
//   transition: all 0.5s ease;
//   background: var(--color-second);
//   color: var(--background-second);
//   position: absolute;
//   right: -58px;
//   top: 12px;

//   .hide {
//     opacity: 0;
//   }

//   &:disabled {
//     background: grey;
//     opacity: 0;
//   }

//   &:hover {
//     transform: translate(5px, 0px);
//     // border-radius: 0 17% 0 17%;
//   }

//   @media screen and (max-width:900px) {
//     border-radius: 10px;
//     top: unset;
//     bottom: -25px;
//     right: 36%;
//   }

//   div {
//     margin: auto;
//   }
// }

// .btnVoice {

//   background: transparent;
//   color: var(--background-first);
//   border: none;
//   min-width: 4rem;
//   min-height: 4rem;
//   width: 4rem;
//   box-shadow: none;
//   margin: 10px;
//   font-size: 1.7rem;

//   svg {
//     position: absolute;
//     top: 6px;
//     left: 4px;
//     stroke-width: 2px;
//     font-size: 2rem;
//   }

//   &:hover {
//     // box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
//     // box-shadow: none;
//   }



// }

// .langs {
//   position: absolute;
//   right: 0px;
//   top: 0px;
//   // display: none;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   border-radius: 10px;
//   transition: all 0.2s ease-in-out;
//   height: 30px;

//   .lang,
//   .langElfalse,
//   .langEltrue {

//     height: 30px;
//     width: 30px;

//     color: var(--wrap-color);
//     transition: all 0.2s ease-in-out;
//     // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
//     display: none;
//     align-items: center;
//     justify-content: center;
//     border-radius: 10px;
//   }

//   p {
//     display: inline;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     white-space: nowrap;
//     padding: 0;
//     margin: 0;
//   }

//   .langElfalse {
//     // display: none;
//     visibility: hidden;
//     display: flex;
//     height: 0;
//     scale: 0;
//     transition: all 0.7s ease-in-out;
//     background: var(--background-first);
//     // border-left: 1px solid var(--color-second);
//     // border-right: 1px solid var(--color-second);
//     // border-radius: 0;
//   }

//   .langEltrue {
//     display: flex;
//     // border-radius: 0 10px 10px 0;
//     background: var(--color-second);
//     color: var(--background-second);
//   }


//   &:hover {
//     color: var(--wrap-color);
//     box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
//     border: 1px solid;
//     height: fit-content;

//     // .langEltrue {
//     //   border-radius: 0;
//     // }

//     // p:first-of-type {
//     //   border-radius: 10px 10px 0 0;
//     // }

//     // p:last-of-type {
//     //   border-radius: 0 0 10px 10px;
//     // }

//     .langElfalse {
//       scale: 1;
//       // display: flex;
//       visibility: visible;
//       height: 30px;
//     }
//   }


// }

// .voice-mainBox {
//   @extend .base-voice-card-btn;



//   &:hover {
//     z-index: 1000;

//     .langs {

//       display: flex;
//       height: fit-content;

//       .langEltrue {
//         // scale: 0.8;
//         // background-color: var(--background-second);
//         // color: var(--wrap-color);
//       }
//     }
//   }






// }