.page{
    margin-top: -5rem;
    background-size:contain;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    background-image: url(../../img/loginpage.jpg);
    background-size: 100%;
    min-height: 100vh;background-attachment:fixed;
}


.h2login {
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
}






/* Layout */
.containerlogin {	
	backface-visibility: hidden;
	margin: 0;
    width:40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.info-box{
	margin: auto;
	margin-top: 10rem;
	width: 60%;
	transform: rotate(-15deg);
}

.login-box {

    width:40%;
	background-color: white;
	width: 430px;
	max-width: 430px;
	margin: 0 auto;
	position: relative;
	top: 80px;
	/* padding-bottom: 30px; */
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center; 
    border-radius: 35px 0 0 35px  ;
	margin-right: 5rem;
}

.login-box .box-header {
	background-color: #0A58CA;
	margin-top: 0;
	border-radius: 35px  0 0 0  ;
}

.login-box label {
    font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.login-box input {
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 1.5rem;
	color: #888;
    width:90%;
}

.login-box input:focus {
	outline: none;
	border-color: #0A58CA;
	transition: 0.5s;
	color: #0A58CA;
}

.btnlogin {
	margin-top: 0px;
	border: 0;
	border-radius: 0 0 0 35px ;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.5rem;
	letter-spacing: 1px;
	background-color: #0A58CA;
	cursor:pointer;
	outline: none;
    width:100%;
    margin-bottom: 0;
}

.btnlogin:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.btnlogin:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.selected {
	color: #0A58CA!important;
	transition: 0.5s;
}

/* Animation Delay */

/* .login-box {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
} */
.invalid{
	border-color: red;
}.valid{
	background-color: green;
}