.base-voice-card-btn {
    z-index: 0;
    font-weight: bold;
    height: 3rem;
    width: 60px;
    font-size: 12px;
    border-radius: 0 10px 10px 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial;
    line-height: 1;
    transition: all 0.5s ease;
    background: var(--color-second);
    color: var(--background-second);
    position: absolute;

    .hide {
        opacity: 0;
    }

    &:disabled {
        background: grey;
        opacity: 0;
    }

    &:hover {
        transform: translate(5px, 0px);
    }

    @media screen and (max-width:900px) {
        border-radius: 10px;
        height: 4rem;
        width: 7rem;
    }

    div {
        margin: auto;
    }
}

.voice-main {
    @extend .base-voice-card-btn;
    position: relative;
    overflow: visible;
    border: none;

    .langs {
        position: absolute;
        right: 0px;
        top: 0px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        height: 30px;


        .lang,
        .langElfalse,
        .langEltrue {

            height: 30px;
            width: 30px;

            color: var(--wrap-color);
            transition: all 0.2s ease-in-out;

            display: none;
            align-items: center;
            justify-content: center;


            @media screen and (max-width:900px) {
                height: 4rem;
                width: 3.5rem;
                min-height: 4rem;
                // height: 4rem;
                font-size: 1.8rem;
                // min-height: 4rem;
                // width: 3.5rem;   
                // overflow-x: hidden;
                // width: 4rem;
                // overflow-y: auto;
            }
        }

        p,
        div {
            display: inline;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 0;
            margin: 0;
            font-size: 10px;
            padding-right: 1px;
            position: relative;
            overflow: visible;


            .lan {
                all: unset;
                position: absolute;
                font-size: 11px;
                top: 4px;

                @media screen and (max-width:900px) {
                    font-size: 1.8rem;
                    top: 5px;
                }
            }

            .loc {
                all: unset;
                position: absolute;
                font-size: 11px;
                top: 14px;

                @media screen and (max-width:900px) {
                    top: 22px;
                    font-size: 1.5rem;
                    font-weight: 400;
                    right: 5px;
                }

            }
        }

        .voices {
            background: red;
            // display: none;
            position: absolute;

            &::after {
                content: ".";
                color: var(--color-checked);
                top: -20px;
                position: absolute;
                left: -17px;
                font-size: 27px;
            }

            span {
                display: none;
            }
        }


        .langEltrue,
        .langElfalse {
            &:hover {
                .voices {
                    background: green;
                    display: flex;
                    flex-direction: column;

                    font-size: 14px;
                    left: -3rem;
                    top: 0px;
                    font-size: 12px;
                    z-index: 2001;

                    &::after {
                        content: none;
                    }

                    span {
                        display: block;
                        height: 3rem;
                        width: 3rem;
                        text-wrap: wrap;
                    }
                }
            }
        }

        .langEltrue {
            display: flex;
            border-radius: 10px;
            background: var(--color-second);
            color: var(--background-second);
        }

        .langElfalse {
            // display: none;
            visibility: hidden;
            display: flex;
            height: 0;
            scale: 0;
            transition: all 0.2s ease-in-out;
            background: var(--background-first);
            z-index: 2000;

            &:hover {
                background: var(--color-second);
                color: var(--background-second);
                opacity: 0.9;


            }



            @media screen and (max-width:900px) {
                height: 0;
                // font-size: 1.8rem;
                min-height: 0rem;
                // width: 3.5rem;
            }
        }


        z-index: 2000;

        &:hover {
            color: var(--wrap-color);
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
            border: 1px solid;
            height: fit-content;



            .langEltrue {
                border-radius: 0;

                @media screen and (max-width:900px) {

                    width: 7rem;
                    // width: 3.5rem;
                }
            }

            p:first-of-type,
            div:first-of-type {
                border-radius: 10px 10px 0 0;
            }

            p:last-of-type,
            div:last-of-type {
                border-radius: 0 0 10px 10px;
            }

            .langElfalse {
                scale: 1;
                visibility: visible;
                height: 30px;

                @media screen and (max-width:900px) {
                    min-height: 4rem;
                    width: 7rem;
                }
            }

            @media screen and (max-width:900px) {
                max-height: 20rem;
                overflow-y: scroll;
            }
        }

        @media screen and (max-width:900px) {
            height: 4rem;
        }


    }

    .roundBtn {
        position: relative;
        margin: 0 5px;
        border: none;
        background: var(--background-second);
        color: var(--main-color-int);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        min-width: 4rem;
        min-height: 4rem;
        width: 4rem;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: var(--wrap-color);
            color: white;
        }
    }

    .btnVoice,
    .startBtn,
    .stopBtn,
    #start-record-btn,
    #stop-record-btn {
        all: unset;
        background: transparent;
        color: var(--background-first);
        border: none;
        min-width: 3rem;
        min-height: 3rem;
        width: 3rem;
        box-shadow: none;
        position: absolute;
        top: 0;
        left: 0;


        svg {
            position: absolute;
            top: 7px;
            left: 4px;
            font-size: 17px;

            @media screen and (max-width:900px) {
                font-size: 2rem;
            }
        }
    }

    &:hover {
        z-index: 3000;

        .langs {
            height: fit-content;
        }

    }
}

.voice-hide {
    display: none;
}