.body{caret-color: transparent;}
input{caret-color: black;}
.App {
  text-align: center;
  caret-color: transparent;
}
.main_page{
  text-align: center;
  margin-top: 0rem;
  /* display: contents;
  justify-content: center; */
}

.aboutcontent{
  /* display: flex; */
  margin-top: 2zsrem;
  height: 100%;
  /* backdrop-filter: blur(14px); */
}.aboutpageImg{
  /* filter: blur(3px); */
  background-image: url(../img/loginpage.jpg);
  background-size: 100%;
  min-height: 100vh;background-attachment:scroll;
  z-index: -4;
  position: fixed;
  left: 0;
  right: 0;
/* border: 1px solid red; */
  /* border-top-right-radius: 35px; */
}

.enable-button-pointers{
  cursor: auto;
}

.modal-max{
  width:fit-content;
  max-width: none!important;
}
.modal-info{
  width:28rem;
  /* max-width: none!important; */
}
.rename-div{
  width:40%;
  /* max-width: none!important; */
}
.center-div{
  width:fit-content;
  margin: auto;
  /* max-width: none!important; */
}
.modal-h50{
  height:28rem;
}
.pointer{
  cursor: pointer;
}
.flex-center{
  display: flex;
  justify-content: center;
}


.aboutImg{
width:40%;
height: 40%;
float:left;
}

/* .hint{
  width: 60%;
  display: flex;
  margin: auto;
  height: fit-content;
  
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-size: small;

} */
.hint1{
  width: 60%;
  display: flex;
  margin: auto;
  height: 2.8vc;
  align-items: flex-end;
  /* flex-wrap: wrap; */
  text-align: center;
  justify-content: space-between;
  font-size: small;
}
.hintT{
  width: 80%;
    align-self: baseline;
  text-align: end;
}
@media screen and (min-width: 600px) {
  .aboutP{
    font-size: 1vw;
    margin-bottom: 2rem;
  }
  .aboutH{
    font-size: 3vw; 
  }
  .hint1{
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .aboutP{
    font-size: 3vw;
    margin-bottom: 2rem;
  }
  .aboutH{
    font-size: 5vw;
  }
  .hint1{
    width: 80%;
  
  
  }
}

.circles-hint{
  width: 10%;
  justify-content: start;
}



.circle{
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  height: 15px;
  width: 15px;

  border-radius: 50%;
  text-align: center;
  /* position: absolute;
  left:10%; */
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.training_header{
   position:absolute;
    top:20;
    left:0;
    width:min-content;
    margin-left: 3rem;
}



.tableContainer{
  width:90%;
  margin: auto;

}

.share_button{
  height: 3rem;
}

.string_menu{
  width: 100%;
  min-height: 2.3vw;  background-color:#0A58CA ;
  border:none;
  border-radius: 5px;
  color: white;
  font-size: 1.3vw;
  display:flex;
  padding-left: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.string_submenu{
  width: 100%;
  min-height: fit-content;  
  /* background-color:#6d9feb ; */
  border:none;
  border-radius: 5px;
  color: rgb(129, 129, 129);
  font-size: 1vw;
  display:flex;
  font-style: italic;
  padding-left: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.text_white{
  color:white
}