:root {

  --back-menu: #2a313e;
  --background-even: #f7f6f6;
  --background-first: #fcfbf7;
  --background-header: #f7f6f6;
  --background-intense: #0A58CA;
  --background-nav: #5c8ece;
  --background-note: #5c8ece;
  --background-parts-answ: #ffebcd;
  --background-second: #ededed;
  --background-third: #337AB7;
  --background-wrap: #fcfcfc;
  --background-wrap-rgb: 252, 252, 252;
  --border-fill: #DADEE8;
  --border-note: #64b5f6;
  --color-about: #5d8fd0;
  --color-back: #e9e8e4;
  --color-bg-wrap: #5f6368;
  --color-checked: #ed666d;
  --color-fill: #EDEFF4;
  --color-intense: #597db4;
  --color-menuG: #5f6368;
  --color-nav: #5c8ece;
  --color-rate: #64b5f6;
  --color-text: #000000;
  --contrast-text: #000000;
  --white-black: #5f6368;
  --card-color: #fffff0;
  --wrap-opacity: 1;
  --vertical-font: 1.8rem;
  --shadow-size: 6px;
}

.contrastColor {
  color: var(--contrast-text);
}

.body {
  caret-color: transparent;
  background-color: var(--color-back);

  @media print {
    margin: auto;
  }
}

.App {
  cursor: default;
  text-align: center;
  caret-color: transparent;
  position: relative;
  height: 100vh;
  caret-color: transparent;
  position: relative;
  background-color: var(--color-back);

  textarea {
    caret-color: auto;
    background: var(--background-second);
    color: var(--color-intense);
  }

  input {
    caret-color: auto;
  }
}

.cardText {
  width: fit-content;
  // font-weight: bold;
  line-height: 1;
  height: fit-content;
  padding: 0;
  margin: 0;
  color: var(--color-text);
  white-space: break-spaces;
}

.w-unset {
  width: unset;
}

.main_page {
  text-align: center;
  z-index: 600;
  margin-top: 60px;
}

.main_container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    display: block;
  }

  @media screen and (max-width: 1100px)and (min-height: 600px) {
    display: block;
  }

  @media screen and (max-height: 600px) {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 1400px) {
    justify-content: center;
  }
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  @media screen and (max-width:600px) {
    flex-direction: column-reverse;
    align-items: flex-start
  }

  @media screen and (max-width:900px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}




.home-text {
  width: 50%;
  font-size: 2rem;
  margin-top: 3rem;
  margin-left: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  @media screen and (max-width:600px) {
    margin: auto;
    width: 100%;

  }

  span {
    font-weight: 700;
    margin-bottom: 2rem;
    font-size: 3rem;
    // color: #5d8fd0;
    color: var(--color-about);
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    @media screen and (max-width:600px) {
      font-size: 1.5rem;
    }
  }

  .secondS {
    font-weight: 500;
    font-size: 2rem;
    width: 100%;

    @media screen and (max-width:600px) {
      font-size: 1.2rem;
    }
  }

  p {
    margin-top: 2rem;
    color: var(--contrast-text);
    text-align: center;
    // font-family: 'Lato';
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;


    @media screen and (max-width:600px) {
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }

    ul {
      text-align: start;
      list-style: none;
    }

    span {
      font-weight: 500;
      font-size: 1.5rem;
      text-align: right;
      width: 100%;

      &::after {
        content: "";
        border-bottom: 1px solid grey;
        width: 100%;
        height: 1px;
        display: block;
        margin-top: 5px;
        text-align: left;

      }
    }
  }
}

.modal {
  padding-left: 0 !important;
}

.modal-dialog {
  margin-top: 3rem;

}

.modal-header {
  background: var(--background-nav);
  color: white;
  width: 99%;

}

.modalBack,
.modal-content {
  background-color: var(--background-wrap);
  color: var(--color-bg-wrap);
  margin-top: 60px;

  @media screen and (max-width:900px) {
    width: 100vw;
  }

}


.color-boxes {
  width: fit-content;
  color: white;
  position: relative;
  width: 900px;
  height: 150px;
  margin-bottom: 9rem;

  @media screen and (max-width:600px) {
    width: 100%;
    height: 120px;
    margin-bottom: 0rem;
  }

  .blue {
    position: absolute;
    width: 240px;
    height: 70px;
    line-height: 1;
    background-color: var(--color-about);
    font-size: 6rem;
    font-family: cursive;
    rotate: -5deg;
    left: 110px;

    @media screen and (max-width:600px) {
      width: 140px;
      height: 40px;
      font-size: 3rem;
      left: 10px;
    }
  }

  .orange {
    @extend .blue;
    background-color: #ff914d;
    rotate: 5deg;
    left: 443px;
    width: 200px;

    @media screen and (max-width:600px) {
      width: 100px;
      height: 40px;
      left: 270px;
    }
  }

  .yellow {
    @extend .blue;
    border-radius: 50%;
    background-color: #FDDC58;
    rotate: 10deg;
    left: 80px;
    top: 100px;
    height: 150px;
    width: 150px;
    font-size: 4rem;
    color: black;
    display: flex;
    align-items: center;
    font-size: 2.0rem;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    @media screen and (max-width:900px) {
      left: 520px;
      top: 70px;
    }

    @media screen and (max-width:600px) {
      left: 280px;
      top: 50px;
      height: 70px;
      width: 70px;
      font-size: 1rem;
    }

    &:hover {
      scale: 1.2;
    }
  }



  .green {
    @extend .blue;
    top: 50px;
    width: 360px;
    height: auto;
    padding: 20px;
    line-height: 1;
    background-color: #c9e265;
    color: black;
    font-size: 6rem;
    font-weight: 800;
    rotate: 0deg;
    left: 190px;

    @media screen and (max-width:600px) {
      width: 250px;
      height: 60px;
      left: 70px;
      font-size: 3rem;
      top: 30px;
    }
  }
}

.color-boxesImg {
  width: fit-content;
  color: white;
  position: relative;
  // width: 900px;
  // height: 150px;
  // margin-bottom: 9rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;

  @media screen and (max-width:600px) {
    width: 100%;
    height: 120px;
    margin-bottom: 0rem;
  }

  .blue {
    position: relative;
    width: 240px;
    height: 70px;
    line-height: 1;
    background-color: var(--color-about);
    font-size: 6rem;
    font-family: cursive;
    rotate: -5deg;
    // left: 140px;
    // top: 50px;

    @media screen and (max-width:600px) {
      width: 140px;
      height: 40px;
      font-size: 3rem;
      left: 10px;
    }
  }

  .orange {
    @extend .blue;
    background-color: #ff914d;
    rotate: 5deg;
    // left: 145px;
    // top: 98px;
    width: 200px;

    @media screen and (max-width:600px) {
      width: 100px;
      height: 40px;
      left: 270px;
    }
  }

  .yellow {
    @extend .blue;
    border-radius: 50%;
    background-color: #FDDC58;
    rotate: 10deg;
    // left: 80px;
    // top: 100px;
    height: 150px;
    width: 150px;
    font-size: 4rem;
    color: black;
    display: flex;
    align-items: center;
    font-size: 2.0rem;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    @media screen and (max-width:900px) {
      left: 520px;
      top: 70px;
    }

    @media screen and (max-width:600px) {
      left: 280px;
      top: 50px;
      height: 70px;
      width: 70px;
      font-size: 1rem;
    }

    &:hover {
      scale: 1.2;
    }
  }



  .green {
    @extend .blue;
    // top: 50px;
    width: 360px;
    height: auto;
    padding: 20px;
    line-height: 1;
    background-color: #c9e265;
    color: black;
    font-size: 6rem;
    font-weight: 800;
    rotate: 0deg;
    // left: 190px;

    @media screen and (max-width:600px) {
      width: 250px;
      height: 60px;
      left: 70px;
      font-size: 3rem;
      top: 30px;
    }
  }
}

.printContent {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  background: var(--background-second);
  font-size: large;
  width: 100%;
  height: 5%;
}

//elements
input {
  caret-color: black;

}

//div
.notFlex {
  display: block;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}



.position-relative {
  position: relative;
}



.flex-standart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-div {
  width: fit-content;
  margin: auto;
}

.w-60 {
  width: 45%;
}

.colldropdown,
.catdropdown {
  width: 140px;

  border: none;
  font-size: 11px;
  padding-bottom: 0;
  padding-right: 10px;
  // background-color: var(--background-wrap);
  color: var(--color-bg-wrap);
  border-radius: 3px;
  height: 25px;
  font-size: 14px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  svg {
    position: absolute;
    right: 0px;
    top: 3px;
    transition: all 0.4s ease-in-out;
  }

  .svgactive {
    transform: rotate(90deg);
  }

  select {
    border: none;

    &:focus {

      box-shadow: none;
    }
  }


}

.colldropdown {
  width: max-content;
  width: -webkit-fill-available;
}

.span_wrap {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 2.5rem;
}


//parameters
.pointer {
  cursor: pointer;
}

.z-index2 {
  z-index: 2;
}


.hide {
  display: none;
}

.lavanderBack {
  background-color: var(--background-second);
}

.border_r15 {
  border-radius: 15px;
  background-color: var(--background-first);
  color: var(--color-text);

  tr {


    &:hover {
      color: var(--color-nav);
    }
  }
}

//width height
.width90 {
  width: 90%;
}

.w-40 {
  width: 40%
}


.width100wv {
  width: 100vw;
}


//modal
.modal-h100 {
  height: 100%;
  width: 90%;

  @media screen and (max-width: 900px) {
    width: 47%;
    margin: 0;
  }
}

.modal-hfc {
  height: fit-content;

  @media screen and (max-width: 600px) {
    width: 90vw;
  }
}

.modal-max {
  width: fit-content;
  max-width: none !important;
}

.modal-h50 {
  height: 28rem;
}




.color_container {
  z-index: -1;
  position: absolute;
  width: 541.82px;
  height: 587.16px;
  left: 381.43px;
  top: 326.68px;
  background: var(--color-nav);
  opacity: 0.45;
  filter: blur(158.5px);
}

.wrongBack {
  background-color: #dc3545;
  color: white;
}

.rightBack {
  background-color: forestgreen;
  color: white;
}

//tbl
.imgTbl {
  width: 1rem;
  height: 1rem;
}

.tblCollections {
  margin: auto;
  width: 95%;

  td,
  th {
    text-align: start;
  }

  .tbColor {
    background-color: var(--background-first);
    font-weight: 500;
  }

  @media screen and (max-height: 600px) {
    width: 100%;
  }

  @media screen and (max-width: 900px) {
    width: 100%;

    tr {
      display: flex;
      flex-wrap: nowrap;
      border-bottom: 1px solid var(--background-header);
      flex-direction: column;
      font-size: 10px;

      .tblBtns {
        position: absolute;
        right: 0;
        margin-top: -1px;
        background: transparent !important;
        border-radius: 10px;

        button {
          background: transparent;
          border: none;
        }
      }


      td,
      th {
        min-width: 4rem;
        padding: 0px;
        padding-left: 2px;

        button {
          font-size: 10px;
        }
      }
    }


  }
}

.mainField {
  overflow: hidden;
  padding-top: 3rem;
  position: relative;
  min-height: 100vh;
  margin-top: -60px;

  .menuField {
    position: relative;
    left: 0;
    top: -2rem;
    width: fit-content;


    @media screen and (max-width: 500px) {
      width: unset;
    }
  }
}

.cardangle {
  width: fit-content;
  // font-weight: bold;
  // line-height: 1;
  // height: -moz-fit-content;
  // height: fit-content;
  // padding: 0;
  // margin: 0;
}

.count {
  display: flex;
  justify-content: center;
  transition: all 0.8s ease-in-out;
  position: absolute;
  right: 0;
  top: 0rem;
  z-index: 901;
  margin-right: 2rem;

  @media screen and (max-width: 400px) {
    position: unset;
    margin-right: 0.5rem;
  }

  @media screen and (max-width: 500px) {
    position: unset;
    margin-right: 0.5rem;
    margin-top: -25px;
  }

  @media screen and (max-width: 900px) {

    margin-right: 5px;
  }
}


.countResult {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  // margin-bottom: 1rem;
  transition: all 0.4s ease-in-out;
  position: relative;

  button {
    margin: 0 5rem;
    font-size: 4rem;


    @media screen and (max-width: 600px) and (min-height: 600px) {
      font-size: 3rem;
    }

    @media screen and (min-width: 600px) and (max-height: 600px) {
      font-size: 3rem;
    }

    span {
      border-radius: 45px;
    }
  }

  h1 {
    display: none;
  }
}


.tblContent {
  margin: auto;
  width: 100%;

  td,
  th {
    text-align: start;

    button {
      color: black;
    }
  }

  .tbColor {
    background-color: var(--background-first);
    font-weight: 500;
  }



  @media screen and (max-width: 900px) {
    margin: auto;

    tr {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid var(--background-header);
      flex-direction: column;
      font-size: 10px;

      .tblBtns {
        position: absolute;
        right: 0;
        margin-top: -1px;
        background: transparent !important;
        border-radius: 10px;

        button {
          background: transparent;
          border: none;
        }
      }

      td,
      th {
        min-width: 4rem;
        padding: 2px 2px 0px 2px;
        font-size: 12px;

        button {
          font-size: 12px;
          padding: 0 8px;
          margin-left: 5px;
        }
      }
    }
  }
}

.btn-x {
  border-radius: 20px 0 20px 0;
  width: 3rem;
  height: 3rem;
  line-height: 0;
  border: none;
  margin-left: 5px;
  width: fit-content;
  transition: all 0.2s ease-in-out;
  background-color: var(--background-wrap);
  color: var(--color-bg-wrap);
  margin-left: 1.5rem;
  font-size: 11px;
  position: relative;

  &::after {
    content: " x";
    position: absolute;
    top: 5px;
    right: 5px;
    transform: skewY(15deg);
    font-weight: 700;

  }

  span {
    // color: var(--color-nav);
    color: #FF4500;
    font-weight: 700;
  }

  @media screen and (max-width: 900px) {
    font-size: 13px;
    height: 3rem;
    width: fit-content;
    padding: 0px 15px;
  }


  &:hover {
    z-index: 901;
    // box-shadow: var(--color-nav) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    scale: 1.1;

    &::after {

      animation: swing 0.8s forwards;
    }
  }
}

.searchResult {
  font-size: 11px;

  color: var(--color-bg-wrap);

  @media screen and (max-width: 900px) {
    font-size: 10px;
  }
}

.search_result_box {
  font-style: italic;
  font-size: 0.5rem;
  margin: auto;
  width: 100%;
  // background: #e5edf9;
  // background: var(--background-second);
  padding: 5px;
  // border-radius: 10px;
  margin-top: 0;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  @media screen and (max-width: 900px) {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: transparent;
  }


}

.corner-box-5 {
  display: inline-block;
  margin: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 30px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.corner-icon-cont-5 {
  color: #fff;
}

.corner-icon-cont-5:before {
  content: '';
  height: 50px;
  width: 50px;
  transition: 0.5s ease;
  border-radius: 0 0% 100% 0;
  background: var(--background-third);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.corner-icon-cont-5:hover {
  width: 100%;
  height: 100%;
}

.corner-icon-cont-5:hover:before {
  border-radius: 0;
  width: 150%;
  height: 150%;
  transition: 0.5s ease;
}

.corner-icon-cont-5:hover .corner-icon-5 {
  top: -50%;
  left: -50%;
  transition: 0.5s ease;
}

.corner-icon-cont-5:hover .corner-textbox-5-2 {
  transition: 0.5s ease;
  top: 50%;
  left: 0;
  z-index: 4;
}

.corner-icon-5 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transition: 0.8s ease;
  padding: 10px 16px;
  font-weight: bold;
}

.corner-textbox-5-2 {
  position: absolute;
  top: -200%;
  transform: translateY(-50%);
  transition: 0.4s ease;
  width: 100%;
  color: #fff;
  left: -200%;
  padding: 30px;
}

.corner-textbox-5 {
  text-align: center;
}

.btn-close {
  background-color: var(--background-wrap);
  color: var(--color-bg-wrap);
  background: none;

  &::after {
    content: "✖️";
    background-color: var(--background-wrap);
    color: var(--color-bg-wrap);
  }
}

.navDrop {
  .dropdown {
    padding: 0;
    font-size: inherit;
    height: auto;

    div {
      font-size: 1.1rem;
    }

    a {
      text-decoration: none;
      color: var(--color-nav);
      font-weight: 500;
      margin-right: 13px;
    }
  }
}

.menuAvatar {
  width: 8%;
  height: 8%;
  width: 40px;
  height: 40px;
  margin-left: -1rem;
  border-radius: 50%;
}

.menuAvatarsub {
  height: 70px;
  width: 100px;
  position: absolute;
  left: -50px;
  top: 50px;
  z-index: 5;
  background-color: var(--color-back);
  // background-color: red;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  font-size: 1.1rem;

  div {
    padding: 5px;
  }
}

.form-select:focus {
  box-shadow: none;
}

.form-select:hover {
  background-color: var(--color-fill);
  border: 0.5px solid var(--border-fill);
}

#i_name {
  background-color: transparent;
}

.arrhide {
  opacity: 0;
}

.flexstandart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexstandart-up {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}

.max-width-u {
  max-width: unset;
}

.ulb-box {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-wrap);
  color: var(--color-bg-wrap);
  margin: 20px;
  width: 260px;
  min-width: 260px;
  height: 175px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  cursor: help;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  transition: inherit;
  cursor: pointer;

  span {
    background-color: var(--color-nav);
    color: white;
    border-radius: 5px;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    transform: translateY(-5px);
  }

  div {
    font-size: 12px;

  }

  @media screen and (max-width:900px) {
    .ulb-box {
      margin: 5px;
    }
  }
}

#pronav.div {
  display: flex;
  z-index: 1105;
}

// .simpleBtn,
// .simpleDiv,
// .simpleCheck {
//   border-radius: 5px;
//   padding: 5px 15px;
//   font-family: 'Lato', sans-serif;
//   font-weight: 500;
//   cursor: pointer;
//   transition: all 0.3s ease;
//   position: relative;
//   box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
//     7px 7px 20px 0px rgba(0, 0, 0, .1),
//     4px 4px 5px 0px rgba(0, 0, 0, .1);
//   outline: none;
//   font-size: 14px;
//   border: none;
//   color: #fff;
//   background: linear-gradient(0deg, var(--color-rate) 0%, var(--color-rate) 100%);
//   text-decoration: none;
//   text-wrap: nowrap;
//   height: fit-content;
// }