:root {
  --color-back: ghostwhite;
  --contrast-text: black;
  --wrap-opacity: 1;
  --vertical-font: 1.8rem;
  --card-color: "#fffff0";


  // --background-wrap-rgb: 245, 245, 249;
  // --background-wrap: #F5F5F9;
  // --background-header: lightsteelblue;
  // --background-first: cornsilk;
  // --background-second: lavender;
  // --background-third: #add8e6;
  // --background-switch: #4d4d63;
  // --background-intense: #0A58CA;
  // --color-intense: #4461F2;
  // --background-note: coral;
  // --border-note: red;


  --background-wrap-rgb: 248, 248, 255;
  --background-wrap: ghostwhite;
  --background-header: #6da4cb;
  --background-first: #e5edf9;
  --background-second: #fcfbf7;
  --background-third: #add8e6;
  --background-switch: #313236;
  --background-intense: #0A58CA;
  --color-intense: #4461F2;
  --background-note: #ed666d;
  --border-note: red;
}

.contrastColor {
  color: var(--contrast-text);
}

.body {
  caret-color: transparent;
  background-color: var(--color-back);

  @media print {
    margin: auto;
  }
}

.App {
  text-align: center;
  caret-color: transparent;

  textarea {
    caret-color: auto;
  }

  input {
    caret-color: auto;
  }
}

.main_page {
  text-align: center;
  z-index: 600;
}

.main_container {
  display: flex;
  justify-content: space-between;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  background: var(--background-second);
  font-size: large;
  width: 100%;
  height: 5%;
}

//elements
input {
  caret-color: black;
}

//div
.notFlex {
  display: block;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-standart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-div {
  width: fit-content;
  margin: auto;
}

.span_wrap {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 2.5rem;
}


//parameters
.pointer {
  cursor: pointer;
}

.z-index2 {
  z-index: 2;
}


.hide {
  display: none;
}

.lavanderBack {
  background-color: var(--background-second);
}

.border_r15 {
  border-radius: 15px;
}

//width height
.width90 {
  width: 90%;
}

.w-40 {
  width: 40%
}


.width100wv {
  width: 100vw;
}


//modal
.modal-h100 {
  height: 100%;

  @media screen and (max-width: 600px) {
    width: 90vw;
  }
}

.modal-max {
  width: fit-content;
  max-width: none !important;
}

.modal-h50 {
  height: 28rem;
}




.color_container {
  z-index: -1;
  position: absolute;
  width: 541.82px;
  height: 587.16px;
  left: 381.43px;
  top: 326.68px;
  background: var(--color-intense);
  opacity: 0.45;
  filter: blur(158.5px);
}

@media screen and (max-width: 600px) {
  .main_container {
    display: block;
  }


}

@media screen and (max-width: 1100px)and (min-height: 600px) {
  .main_container {
    display: block;
  }
}

//tbl
.imgTbl {
  width: 1rem;
  height: 1rem;
}

.tblCollections {
  margin: auto;
  width: 95%;

  @media screen and (max-height: 600px) {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.count {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  transition: all 0.8s ease-in-out;
}

.countResult {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  transition: all 0.4s ease-in-out;
  position: relative;

  button {

    margin: 0 5rem;
    font-size: 5rem;

    @media screen and (max-width: 600px) and (min-height: 600px) {
      font-size: 3rem;
    }

    @media screen and (min-width: 600px) and (max-height: 600px) {
      font-size: 3rem;
    }

    span {
      border-radius: 45px;
    }
  }

  h1 {
    display: none;
  }
}


.tblContent {
  margin: auto;
  width: 100%;

  @media screen and (max-height: 600px) {
    margin: auto;
  }

  @media screen and (max-width: 600px) {
    margin: auto;


    tr {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid var(--background-header);

      td {
        min-width: 4rem;
      }
    }
  }
}

.btn-x {
  border-radius: 20px;
  width: 3rem;
  height: 3rem;
  line-height: 0;
  border: none;
  margin-left: 5px;
  width: fit-content;
  transition: all 0.2s ease-in-out;
  background-color: var(--background-wrap);
  // ms-3 fs-2 mt-2 fst-italic
  margin-left: 1.5rem;
  font-size: 14px;
  font-style: italic;



  &:hover {
    transform: scale(1.2);
  }
}

.searchResult {
  font-size: 14px;
  color: gray;
}