.App {
  text-align: center;
}
.main_page{
  text-align: center;
  margin-top: 2rem;
  /* display: contents;
  justify-content: center; */
}
.enable-button-pointers{
  cursor: auto;
}

.modal-max{
  width:fit-content;
  max-width: none!important;
}
.modal-info{
  width:28rem;
  /* max-width: none!important; */
}
.rename-div{
  width:40%;
  /* max-width: none!important; */
}
.center-div{
  width:fit-content;
  margin: auto;
  /* max-width: none!important; */
}
.modal-h50{
  height:28rem;
}
.pointer{
  cursor: pointer;
}
.flex-center{
  display: flex;
  justify-content: center;
}

/* .input-line{
padding-left: 25%;
padding-right: 25%;
  display: flex;
  justify-content: center;
  align-items: center; 
} */
/* d-flex p-2 flex-wrap justify-content-center */
.aboutImg{
width:40%;
height: 40%;
float:left;
}

/* .hint{
  width: 60%;
  display: flex;
  margin: auto;
  height: fit-content;
  
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-size: small;

} */
.hint1{
  width: 60%;
  display: flex;
  margin: auto;
  height: 2.8vc;
  align-items: flex-end;
  /* flex-wrap: wrap; */
  text-align: center;
  justify-content: space-between;
  font-size: small;
}
.hintT{
  width: 80%;
    align-self: baseline;
  text-align: end;
}
@media screen and (min-width: 600px) {
  .aboutP{
    font-size: 1vw;
    margin-bottom: 2rem;
  }
  .aboutH{
    font-size: 3vw; 
  }
  .hint1{
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .aboutP{
    font-size: 3vw;
    margin-bottom: 2rem;
  }
  .aboutH{
    font-size: 5vw;
  }
  .hint1{
    width: 80%;
  
  
  }
}

.circles-hint{
  width: 10%;
  justify-content: start;
}



.circle{
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  height: 15px;
  width: 15px;

  border-radius: 50%;
  text-align: center;
  /* position: absolute;
  left:10%; */
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.training_header{
   position:absolute;
    top:20;
    left:0;
    width:min-content;
    margin-left: 3rem;
}

.tableContainer{
  width:90%;
  margin: auto;
}

.share_button{
  height: 3rem;
}