.edit_btn_menu {
  display: flex;
  justify-content: flex-end;

  button {
    height: 4rem;
    font-size: 1.5rem;
    margin-right: 1rem;
    border-color: var(--background-header);
    margin-bottom: 2rem;

    &:hover {
      background-color: var(--background-header);
    }

    &:disabled {
      border-color: var(--background-header);
      color: #ddd1c2;

    }
  }
}


.input_with_lable {
  width: 100%;
  font-size: 18px;
  margin-bottom: 2rem;


  .lable {
    padding: 0 5px;
    margin: 0;
    min-width: 7%;
    background: var(--background-header);
    border-radius: 5px;
  }

  input {
    border-color: var(--background-header);
    width: 93%;
    border: none;
    border-bottom: 1px solid var(--background-header);

    &:focus {
      outline: none;
      border-bottom: 2px solid var(--background-header);
    }
  }
}

.string_menu {
  width: 100%;
  margin: 0 auto;
  min-height: 2vw;
  border: none;
  // border-radius: 10px 10px 0 0;
  border-bottom: 2px solid lightslategray;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  font-size: 10px;
  display: flex;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 5.7rem;
  background-color: var(--background-wrap);
  z-index: 700;
  border-radius: 35px 35px 0 0;

  // position: relative;
  top: 0;
  // border-radius: 10px;

  h5 {
    position: absolute;
    // background-color: rgb(110, 218, 89);
    font-style: italic;
    color: #00d26a;

    top: 44px;
  }

  @media screen and ((max-height: 600px)) {
    position: relative;
    top: 0;
    // border-radius: 10px;
  }

}



.box_menu {
  // position: absolute;
  // top: 70px;
  // left: -60px;
  width: 222px;
  background-color: var(--background-wrap);
  border-radius: 10px;
  min-height: 3rem;
  padding: 10px;
  display: flex;
  flex-direction: column;

  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;


  @media screen and ((max-width: 600px)) {
    position: relative;
    top: 0;
    left: 0;
  }

  @media screen and ((max-height: 600px)) {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  span {
    margin-right: 3rem;

    &:hover {
      color: blue;
    }
  }

  .actionMenu {
    display: flex;
    width: 100%;
    flex-direction: column;
    vertical-align: middle;
    border-radius: 0.375rem;


    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    button {
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 21rem;
    }

    @media screen and (min-width: 600px)and (max-height: 600px) {
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      button {
        width: auto;
        justify-content: flex-start;
      }

    }
  }
}

.menu-title {
  background-color: var(--background-header);
  top: 4px;
  border-radius: 0 5px 5px 0;
  text-align: end;
  padding-right: 5px;
  left: -10px;
  width: 270px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

  position: relative;

}

.spanCat {
  position: absolute;
  margin: 0;
  top: -6px;
  right: 100%;
  font-size: 12px;
  padding: 0 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  right: 165%;
  top: 29px;
}

.name-collect {
  display: flex;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  h1 {
    margin: 0;
  }

  span {
    position: absolute;
    bottom: -15px;
    font-size: 10px;
    left: 40%;
    color: var(--background-note);
  }

  &:hover {
    &::before {
      content: "click to edit the collection settings";
      position: absolute;
      top: -25px;
      right: 10px;
      width: fit-content;
      white-space: nowrap;
      background-color: var(--background-header);
      padding: 0 5px;
      font-size: 14px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    }
  }
}

.menufind {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
  width: 70%;
  width: 100%;
  flex-wrap: wrap;


  h1 {
    background: var(--color-back);
    padding: 2px 5px;
    border-radius: 9px;
    color: var(--contrast-text);
  }



  .findWidth {
    width: 25%;

    @media screen and (max-width: 600px) and (min-height: 600px) {
      width: 100%;
    }
  }
}

.collect-find {
  border: 1px solid;
  border-radius: 5px;

  input,
  span {
    border: none;

  }


}



.inputCheck {
  font-size: 16px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 1rem;

  label {
    display: flex;
    font-size: small;
    font-size: 16px;

    span {
      border: 1px solid black;
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 8px;
      top: 5px;
      line-height: 0.9;

      &:hover {
        color: black;
      }
    }


  }

  .heart {
    color: #f92f60;

    &:hover {
      color: #f92f60;
    }

  }

  input {
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
    opacity: 0;

    &:checked+label {
      span {
        box-shadow: inset 3px 3px 5px #c5c5c5,
          inset -3px -3px 5px #ffffff;
      }
    }
  }
}

.header_modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--background-header);
  padding: 9px 20px;
  border-radius: 12px;
  width: 100%;



}

.select_wrap {
  width: fit-content;
  display: flex;
  width: 100%;
}

.menuCollection {
  /* d-flex align-items-center justify-content-end me-2 */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  width: 70%;
  width: 100%;

  @media screen and (min-width: 600px) and (max-height: 600px) {
    flex-wrap: wrap;
  }


  @media screen and (max-width: 600px) and (min-height: 600px) {

    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

}

.menuBtn {
  width: 100%;
  min-width: 150px;
  background-color: var(--background-wrap);

  &:hover {
    background-color: var(--background-header);
  }
}

.divider {
  border-bottom: 1px solid;

  @media screen and ((max-width: 600px)) {
    display: none;
  }
}

.dropdown {
  font-size: 2rem;
  height: 42.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;

  border: none;

  .drop-items-wrap {
    width: max-content;
    position: absolute;
    border: 1px solid black;
    top: 40px;
    background-color: white;
    padding: 10px;
    z-index: 4;
    text-align: start;




    .drop-item {
      margin: 5px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--background-wrap);
        transform: scale(1.2);
      }
    }
  }

  @media screen and ((max-width: 600px)) {
    justify-content: flex-start;
    max-width: 21rem;
  }
}