.playmenu {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: none;
    transition: all 0.4s ease-in-out;
}

.wrapCard {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width:900px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    .firstRow {
        display: flex;
        align-items: center;



    }

    .onePlaylist-wrap {
        background-color: var(--background-wrap);
        color: var(--color-bg-wrap);
        margin: 20px;
        width: 260px;
        min-width: 260px;
        height: 175px;
        position: relative;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.4s ease-in-out;
        cursor: help;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

        .btn {
            padding: 5px;
            font-size: 15px;
            border: none;
            cursor: pointer;
            transition: all 0.2s;
            background-color: transparent;
            border-radius: 10px;
            display: none;
            position: absolute;
            right: 10px;

            &:hover {
                scale: 1.2;

            }

        }

        .btnP {
            width: 44px;
            height: 44px;
            background-color: transparent;
            border-radius: 50%;
            border: none;
            font-size: 18px;
            color: white;
            z-index: 5;
            position: absolute;

            &:hover {
                background-color: #e8eaed;
                background-color: var(--background-nav);

                &::before {
                    content: attr(data-title);
                    width: fit-content;
                    white-space: nowrap;
                    padding: 2px 5px;
                    background-color: var(--background-header);
                    background-color: var(--background-second);
                    opacity: 1;
                    color: black;
                    border-radius: 5px;
                    font-size: 12px;
                    position: absolute;
                    bottom: -1.5rem;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                }
            }
        }

        .btnGames {
            position: absolute;
            bottom: 0;
            left: 15px;
            display: none;

            .play-menu {
                width: 16rem;
                display: flex;
                justify-content: center;
                align-items: center;

                .oneP {

                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    margin: 0 5px;

                    background-color: transparent;
                    border-radius: 50%;
                    border: none;
                    font-size: 18px;
                    color: #5f6368;
                    padding: 2px 0;

                    .sub {
                        width: fit-content;
                        display: none;
                        position: absolute;
                        background-color: var(--background-nav);

                        div {
                            font-size: 16px;
                        }
                    }

                    &:hover {
                        transform: translateY(-5px);

                        .sub {
                            display: block;
                        }
                    }
                }
            }

        }

        .btnShow {
            @extend .btnP;
            background-color: var(--color-nav);
            opacity: 0.9;
        }

        .listHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;
            width: 100%;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 500;
            border-bottom: 0.5px solid var(--border-fill);
            BACKGROUND: var(--color-intense);
            COLOR: WHITE;
            opacity: 0.8;
            padding-left: 25px;
            text-transform: uppercase;
            border-radius: 5px;

            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 90%;
            }

            svg {
                position: absolute;
                font-size: 14px;
                left: 15px;
            }

        }

        .listBody {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 65%;
            overflow-x: hidden;
            scrollbar-color: var(--color-bg-wrap) var(--background-header);

            .listItem {
                width: 100%;
                position: relative;
                color: var(--color-bg-wrap);
                padding: 1px;
                padding-left: 5px;
                text-align: start;
                display: flex;
                justify-content: flex-start;
                transition: all 0.4s ease-in-out;

                .item-btns {
                    display: none;
                    border: none;
                    transition: all 0.4s ease-in-out;
                    position: absolute;
                    right: 0;

                    @media screen and (max-width:900px) {
                        position: relative;
                        right: 45px;
                    }

                    button {
                        border: none;
                        background-color: var(--color-bg-wrap);
                        color: var(--background-first);
                    }
                }

                &:hover {
                    background-color: var(--background-second);

                    .item-btns {
                        display: block;
                    }
                }
            }
        }

        .list-btns {
            margin: auto;
            display: none;
            transition: all 0.4s ease-in-out;
            justify-content: space-between;
            padding: 0 5px;



            @media screen and (max-width:900px) {
                display: flex;
            }

            button {
                border: none;
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                width: 2.8rem;
                height: 2.8rem;
                font-size: 16px;
                margin-top: 1px;
                border-radius: 5px;
                cursor: pointer;
                background-color: var(--background-first);
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                border-radius: 50%;


                left: 0;

                &:hover {
                    background-color: var(--background-second);
                }
            }
        }

        .listFooter {
            background-color: var(--background-header);
            width: 100%;
            font-size: 17px;
            height: 3.2rem;
            border-radius: 10px;
            text-align: center;

            .fff {
                position: relative;
                width: 3rem;
                z-index: 700;
                top: -32rem;
                left: 15px;
            }
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

            .playmenu {
                display: block;
            }

            .btn {
                display: block;
            }

            .btnGames {
                display: block;
            }

            .list-btns {
                display: block;
            }
        }


    }
}

.wrapTbl {
    border-radius: 5px;
    width: max-content;
    margin: auto;
    width: 90%;
    background-color: var(--background-wrap);

    .onePlaylist-wrap {
        display: flex;
        justify-content: flex-start;
        padding: 0 15px;
        width: 90%;
        font-size: 14px;
        border-radius: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        border-bottom: 0.5px solid var(--border-fill);
        BACKGROUND: var(--background-first);
        COLOR: var(--color-bg-wrap);
        opacity: 0.8;
        margin: auto;
        margin-bottom: 5px;
        padding: 5px 5px;
        transition: all 0.4s ease-in-out;
        position: relative;

        @media screen and (max-width:900px) {
            flex-direction: column-reverse;
            align-items: flex-start;
            width: 100%;
        }

        button {
            height: 2.5rem;
            min-width: 2.5rem;
            line-height: 1;
            border-radius: 10px;
            margin: 0 2px;
            transition: all 0.4s ease-in-out;
            background-color: var(--background-first);
            cursor: pointer;
            font-size: 16px;
            width: 3rem;
            height: 3rem;

            &:hover {
                scale: 1.2;
            }
        }

        .btn {
            display: none;
            padding: 5px;
            font-size: 11px;
            border: none;
            cursor: pointer;
            transition: all 0.2s;
            background-color: transparent;
            border-radius: 10px;
            position: absolute;
            right: 0;

            &:hover {
                scale: 1.2;
            }

        }

        .firstRow {

            display: flex;
            align-items: center;
        }

        .listHeader {
            background-color: transparent;
            width: 100%;
            font-size: 14px;
            border-radius: 10px 10px 0 0;
            height: -webkit-fill-available;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;
            color: var(--color-bg-wrap);
            text-transform: uppercase;

            span {
                padding-left: 10px;

            }
        }



        .listBody {
            display: none;
            width: 80%;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;

            @media screen and (max-width:900px) {
                width: 100%;
                border-radius: 10px;
            }

            .listItem {
                width: 100%;
                background-color: var(--background-first);
                padding: 0px;
                text-align: start;
                display: flex;
                justify-content: space-between;
                transition: all 0.4s ease-in-out;

                .item-btns {
                    display: none;
                    border: none;
                    transition: all 0.4s ease-in-out;

                    button {
                        border: none;
                    }
                }

                &:hover {
                    background-color: var(--background-second);

                    .item-btns {
                        display: block;
                    }
                }
            }
        }

        .tbl {
            display: flex;
            width: 20%;
            flex-direction: column;

            @media screen and (max-width:900px) {
                width: 100%;
            }
        }

        .list-btns {
            width: 100%;
            display: none;
            transition: all 0.4s ease-in-out;
            justify-content: space-between;
            padding-right: 5px;
            align-items: flex-end;

            @media screen and (max-width:900px) {
                width: 100%;
            }

            button {
                width: 3rem;
                height: 3rem;
                font-size: 16px;
                border-radius: 5px;
                cursor: pointer;
                border: none;
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

                @media screen and (max-width:900px) {
                    width: 2rem;
                    height: 2rem;
                    font-size: 10px;

                }

                &:hover {
                    background-color: var(--background-second);
                }
            }
        }

        .listFooter {
            background-color: var(--background-header);
            width: 100%;
            font-size: 17px;
            min-height: 3.2rem;
            border-radius: 0 0 10px 10px;
            text-align: center;
            display: flex;
            height: -webkit-fill-available;
            padding-bottom: 5px;

            .fff {
                position: relative;
                width: 3rem;
                z-index: 700;
                top: -10rem;
                left: 40px;

                @media screen and (max-width:900px) {
                    width: 30%;
                    left: -250%;
                    top: -36%;
                    position: absolute;
                }

            }
        }

        &:hover {
            transform: translateX(-10px);
            background-color: var(--color-fill);

            .listHeader {
                color: var(--color-nav);
            }

            .btn {
                display: block;
            }

            .list-btns {
                display: flex;
            }
        }


    }
}

.titleWrap {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width:900px) {
        flex-direction: column-reverse;
        margin-bottom: 20px;
        background-color: var(--color-nav);
        color: white;

        input {
            color: white;
        }
    }
}

.body-edit-wrap {
    display: flex;
    align-items: flex-start;

}

.chooseList {
    border-radius: 15px;
    margin-left: 1rem;
    padding: 5px;
    width: 25%;
    height: 100%;
    background-color: var(--background-even);

    @media screen and (max-width:900px) {
        width: 33%;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }
}

.choosedList {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media screen and (max-width:900px) {

        width: 70%;
    }

    .choosedItems {
        display: flex;
        flex-wrap: wrap;
    }

    button {
        font-size: 9px;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 4px;
        background-color: var(--background-second);
        color: var(--color-bg-wrap);

        &:hover {
            color: var(--background-second);
            background-color: var(--color-bg-wrap);
        }
    }
}


.tabBox {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
    position: relative;

    p {
        font-size: 14px;
        padding: 0;
        margin: 0;

        @media screen and (max-width:900px) {
            font-size: 10px;
        }
    }

    span {
        font-size: 14px;
        width: 190px;
        text-wrap: nowrap;
        top: 12px;

        @media screen and (max-width:900px) {
            top: -10px;
            font-size: 10px;
        }
    }

    .tab {
        border-bottom: 1px solid black;
        width: 50%;
        text-align: center;
    }

    .left {
        text-align: center;
        width: 50%;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        border-radius: 0 10px 0 0;
        background-color: var(--background-header);
    }

    .right {
        text-align: center;
        width: 50%;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-radius: 10px 0 0 0;
        background-color: var(--background-header);
    }
}

.selectionButtons {
    border-radius: 15px 15px 0 0;

    @media screen and (max-width:900px) {
        padding-top: 5px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
}

.filterButtons {
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:900px) {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--border-fill);

    }

    .filter {
        margin: auto;
        margin-top: 5px;
        width: -webkit-fill-available;

        @media screen and (max-width:900px) {
            position: relative;
            left: -21px;
            scale: 0.6;
        }

    }

    button {
        margin-left: 1rem;
        border-radius: 5px;
        border: none;
        font-size: 12px;
    }
}

.tblCollections {
    padding-top: 1rem;
    padding-left: 7px;
    height: 189px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
    border-bottom: 1px solid grey;
    position: relative;
    border-collapse: collapse;
    min-width: 100%;

    position: relative;

    span,
    svg {
        position: absolute;
        left: -0px;
        font-size: 6px;
        color: grey;
    }

    .isNotSelected {
        transition: all 0.4s ease-in-out;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;


        &:hover {
            border: 0.5px solid grey;

        }
    }

    .isSelected {

        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        background-color: var(--background-first);
        color: var(--color-checked);
    }
}

.chooseTbl {
    @extend .tblCollections;
    font-size: 10px;
    height: 70vh;
    scrollbar-color: var(--color-bg-wrap) var(--background-header);

    @media screen and (max-width:900px) {
        font-size: 9px;
        width: 40%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}

.selectedEl {
    @extend .isNotSelected;
    position: relative;
    background-color: var(--background-wrap);
    color: white;
    overflow: hidden;
    margin: 20px;

    width: 200px;
    height: 100px;
    position: relative;
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
    cursor: help;
    text-overflow: ellipsis;
    padding: 0;
    overflow: hidden;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-intense);

    &:hover {
        // text-decoration: line-through;
        color: rgb(125, 118, 136);
        background-color: var(--color-fill);
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

        &::before {
            content: "❌";
            position: absolute;
            font-size: 48px;
        }
    }



    @media screen and (max-width:900px) {
        width: 120px;
        height: 70px;
        margin: 5px;
    }
}

.empty {
    @extend .selectedEl;
    background-color: var(--color-fill);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

    &:hover {
        text-decoration: none;

        // color: cyan;
        &::before {
            content: unset;
            position: absolute;
            font-size: 48px;
        }
    }

    &:after {
        content: "add collection";
        color: rgb(125, 118, 136);
        // text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        ;
    }
}