.dropdown-toggle {
    position: relative;
    border: none;
    width: 8rem;
    display: flex;
    justify-content: flex-start;

    &:hover {
        color: var(--color-nav);
    }

    svg {
        margin-right: 1px;
        padding: 2px;
        font-size: 14px;

        &:hover {
            outline: 3px solid rgb(134, 181, 251);
            color: var(--color-nav);
        }
    }
}

.dropdown-menu {
    position: absolute;
    list-style: none;
    text-align: left;
    cursor: pointer;
    background-color: white;
    width: 8rem;
}