.game-field {
  display: block;
  text-align: center;
  margin-top: 0.5rem;

  @media screen and (min-width: 600px) and (max-height: 600px) {
    display: flex;
    align-items: flex-start;
    // flex-direction: column-reverse;
  }

  @media screen and (min-height: 600px) and (max-width: 600px) {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .test-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    @media screen and (min-width: 600px) and (max-height: 600px) {
      text-align: center;
      flex-direction: column;
    }

    @media screen and (min-height: 600px) and (max-width: 600px) {
      text-align: center;
      flex-direction: column;
    }
  }
}


.countBtn {
  cursor: auto;
  font-size: x-large;
  border-radius: 10%;
  background: none;
  border: none;

}

.list {
  border: none;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  min-width: 130px;
  min-height: 50px;
  margin: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.pairs_container {
  margin: auto;
  flex-direction: column;
  display: flex;
  width: 80%;
  height: 80%;

  @media screen and (min-width: 600px) and (max-height: 600px) {
    text-align: center;
    flex-direction: column;
    width: auto;
  }

  @media screen and (min-height: 600px) and (max-width: 600px) {
    text-align: center;
    flex-direction: column;
  }

}

.container {
  margin: auto;
  position: relative;
  display: flex;
}

.list_btn {

  padding: 10px 10px;
  margin: 15px 10px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 600;

  color: #5f6064;
  background-color: lavender;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 10px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

  max-width: 320px;
  min-width: 200px;
  min-height: 10rem;

  @media screen and (min-height: 600px) and (max-width: 600px) {
    max-width: 180px;
    min-width: 165px;
    padding: 5px;
  }

  @media screen and (min-width: 600px) and (max-height: 600px) {
    min-width: 300px;

  }

  img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 5px;
  }

  &:not(.wrong_answer):hover {
    translate: 0 -10px;
    // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}

// .list_btn {
//   padding: 5px 5px;
//   margin: 15px;

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   min-width: 130px;
//   min-height: 50px;

//   font-size: 1.8rem;
//   color: black;
//   word-wrap: normal;

//   border: none;
//   border-color: #3498db;
//   box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
//   -webkit-transition: all 150ms ease-in-out;
//   transition: all 150ms ease-in-out;
// }

/* test */
.wrong_answer {
  text-decoration: line-through;
  background-color: aliceblue;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background: lavender;
  color: cadetblue;
}

// .wrong_answer {
//   text-decoration: line-through;
//   box-shadow: 0 0 10px 0 #e82d6f inset, 0 0 10px 4px #f4449a;

// }

.right_answer {
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
}

/* pairs */
.answer {
  background-color: blanchedalmond;
}

.active {
  translate: 0px -6px;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

  // outline: 2px solid mintcream !important;
  outline: 4px solid #ff6d6d !important;
  ;
}


// .answer {
//   box-shadow: 0 0 10px 0 #f1c40f inset, 0 0 10px 4px #f1c40f;
//   /* background-color: rgb(128, 226, 248);
//   color: #fff;
//   box-shadow: 0 0 40px 40px  #f1c40f  inset, 0 0 0 0  #f1c40f ; */
// }

// .active2 {
//   color: #fff;
//   background-color: black;
//   box-shadow: 0 0 40px 40px #f1c40f inset, 0 0 0 0 #f1c40f;
// }

// .active1 {
//   color: #fff;
//   background-color: black;
//   box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
// }

.game_count {
  border: 1px;
  border-radius: 10%;
  cursor: auto;
}

/* unused */
.redbth {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.redbth:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.yellow {
  -webkit-transition: box-shadow 300ms ease-in-out, #f1c40f 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, #f1c40f 300ms ease-in-out;
}

.list-on {
  color: #fff;
  background-color: black;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
}

.writeAnswer {
  margin-top: 1rem;
  font-size: 4rem;
  text-align: center;
  width: 70%;
  height: 6rem;

  @media screen and (min-width: 600px) and (max-height: 600px) {
    font-size: 2rem;
    height: 6rem;
    width: 100%;
  }

  @media screen and (min-height: 600px) and (max-width: 600px) {
    font-size: 2rem;
    height: 6rem;
    width: 100%;
  }

}

.cardSize {
  margin: auto;
  height: 60%;
  // width: 60%;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }

}

//landshaft
@media screen and (min-width: 600px) and (max-height: 600px) {
  .container {
    flex-direction: row;
    margin: 0;
    width: 100%;
  }

  .pairs_container {
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    margin: 0;
  }

  .cardSize {
    margin: auto;
    height: 50%;
    width: 100%;
  }
}

//mobile
@media screen and (min-height: 600px) and (max-width: 600px) {
  .container {
    margin: 0;
  }

  .pairs_container {
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    margin: 0;
  }

  .cardSize {
    height: auto;
    width: auto;
    font-size: 20vw;
  }


}