.sideBar-wrap {
    z-index: 800;
    position: sticky;
    top: 6rem;
    min-height: 100vh;
    width: fit-content;
    display: flex;
    text-align: center;
    // border: 1px solid var(--background-header);
    // border-radius: 0 35px 35px 0;
    background-color: var(--background-wrap);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    align-self: flex-start;
    margin-right: 2rem;

    @media screen and (max-width:900px) {
        margin-right: 0rem;
    }
}

.sideBar-narrow {
    height: 100%;
    width: 7rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    z-index: 700;

    @media screen and (max-width:900px) {
        padding-top: 1rem;
    }

    .shadow {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

    button {
        width: 5rem;
        height: 5rem;
        font-size: 20px;
        margin: 5px 0;
        background-color: var(--background-wrap);
        color: #646f7d;
        padding: 0;
        border-radius: 5px;
        border: none;
        position: relative;

        span {
            display: flex;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

        .activeSpan {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            color: orangered;
        }

        &:hover {
            background-color: var(--background-header);

            &::before {
                content: attr(data-title);
                width: fit-content;
                white-space: nowrap;
                padding: 2px 5px;
                background-color: var(--background-header);
                background-color: var(--background-second);
                opacity: 1;
                color: black;
                border-radius: 5px;
                font-size: 12px;
                position: absolute;
                left: 6rem;
                top: 1rem;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            }

        }
    }

    .activeBtn {
        background-color: red;
    }
}



.sideBar-wide {
    padding-left: 5px;
    z-index: 600;
    height: 100vh;
    width: 25rem;
    background-color: var(--background-wrap);
    color: black;
    padding-top: 3.5rem;
    transition: all 0.4s ease-in-out;
    border-radius: 0 35px 35px 0;

    .addingLink {
        font-size: 14px;
        cursor: pointer;

        &:hover {
            background-color: var(--background-header);
        }
    }

    h3 {
        margin: 0;
    }


}

.catlist-box {
    max-height: 75vh;
    background-color: var(--background-first);
    overflow: auto;
}

.link-box {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 16px;
    text-shadow: 0px 0px 1px rgba(66, 68, 90, 1);
    position: relative;
    color: black;

    div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    span {
        color: #0d6af5;
        margin: 0 0.5rem;
    }

    button {
        background-color: var(--background-wrap);
        color: black;
        border: none;

        // &:hover {
        //     background-color: var(--background-header);
        // }
    }

    &:hover {
        background-color: var(--background-second);

        button {
            background-color: var(--background-header);
        }
    }
}

.link-box-active {
    background-color: var(--background-header); // #eed8bc;

    button {
        background-color: var(--background-header);
    }
}

.miniMenu {
    background-color: var(--background-header);
    color: black;
    position: absolute;
    top: 110%;
    right: 2px;
    z-index: 3;
    width: 80%;
    padding: 5px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    button {
        background-color: var(--background-header);
        margin: 5px 10px;
        transition: all 0.2s ease-in-out;
        text-align: start;
        border-radius: 5px;

        &:hover {
            transform: scale(1.2);
        }
    }
}