.div_width {
    width: 100%;

    button {
        padding-left: 3rem;
    }

}

.max_content {
    width: max-content;
    min-width: 21rem;
}

.modal_select {
    position: absolute;
    z-index: 600;
    background-color: rgb(237, 249, 248);
    width: 200px;
    // right: 0;
    margin-left: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding-left: 5px;
}

.active {
    background-color: var(--background-second);
    border-radius: 5px;
    // transform: scale(1.2);
    transform: translateX(5px);
    color: var(--color-checked);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.drop-item {
    // margin: 5px;
    transition: all 0.3s ease-in-out;
    font-size: 10px;
    text-align: left;


    &:hover {
        background-color: lavender;
        border-radius: 5px;
        // transform: scale(1.2);
        transform: translateX(5px);
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }
}

.add-cat-btn {
    @extend .drop-item;
    font-size: 1.5rem;
}

.filter_input {
    border-bottom: 1px solid #0d6af5; // var(--background-header);
    display: flex;


    input {
        border: none;
        height: 3rem;
        font-size: x-small;
        width: 90%;
        background: transparent;

        padding-left: 10px;

        color: #0d6af5;

        &:focus {
            outline: #0d6af5;
        }
    }

    .filter_btn {
        border: none;
        height: 100%;
        background-color: transparent;
        line-height: 2;
        font-size: 1.4rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.4);
        }
    }
}

.setting_btn {
    @extend .drop-item;

    width: 100%;
    height: 3rem;
    border: none;
    position: relative;
    top: -10px;
    left: -5px;
    width: 100%;
    font-size: 2rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-second);
    border-radius: 4px;
}

.selCat {
    color: chocolate;
    font-style: italic;
    padding-left: 5px;
    text-overflow: ellipsis;
    // font-size: 8px;
}

.dropbtn {
    font-size: 1.6rem;
    position: relative;
    min-width: 200px;
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: unset;
    // height: 35px;

    &::after,
    &::before {
        box-sizing: unset;
    }


    span {
        position: absolute;
        top: -10px;
        left: 6px;
        margin-right: 0;
        opacity: 0;
        font-size: 25px;

        &:hover {
            color: blue;
        }
    }



    // &:hover {
    //     background-color: var(--background-header);
    //     border-color: rgb(202, 202, 239);

    //     span {
    //         opacity: 1;
    //     }
    // }

}

.link {
    a {
        font-size: 1.3rem;
        text-align: end;
    }

    text-align: end;
    font-size: 1.3rem;
    color: lightslategrey;
}

.tbl-wrap {
    text-align: left;
    margin: auto;
    width: max-content;
    min-width: 50%;

    .listRow {
        display: flex;
        cursor: pointer;

        &:nth-child(even) {
            background-color: rgb(247, 246, 246);
        }

        &:nth-child(odd) {
            color: var(--contrast-text);
            // background-color: rgb(247, 246, 246);
        }

        .rowHeader {
            font-weight: 600;
        }

        &:hover {
            color: red;

        }
    }

    span {

        background-color: transparent;
        color: gray;
        width: fit-content;
        font-size: 10px;

        &::before {
            content: "/";
        }
    }
}

.wrapCard {
    display: flex;
    flex-wrap: wrap;

    .list-wrap {
        background-color: var(--background-wrap);
        margin: 20px;
        width: 260px;
        min-width: 260px;
        height: 175px;
        position: relative;
        padding: 10px;
        border-radius: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        transition: all 0.4s ease-in-out;
        cursor: help;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        button {
            height: 2.5rem;
            min-width: 2.5rem;
            line-height: 1;
            border-radius: 10px;
            transition: all 0.4s ease-in-out;
            background-color: var(--background-first);
            cursor: pointer;
            font-size: 12px;
            width: 2rem;
            height: 2rem;
            padding: 0;

            &:hover {
                scale: 1.2;
                border-radius: 2px;
            }
        }

        .listHeader {

            display: flex;
            justify-content: space-between;
            padding: 0 5px;
            width: 100%;
            font-size: 14px;
            border-radius: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 500;

            color: black;
        }

        .listBody {
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 80%;
            overflow: auto;

            .listItem {
                width: 100%;
                background-color: var(--background-first);
                padding: 1px;
                text-align: start;
                display: flex;
                justify-content: flex-start;
                transition: all 0.4s ease-in-out;

                span {
                    color: black;
                    text-align: start;
                    margin: unset;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 85%;
                    width: fit-content;
                }

                .item-btns {
                    display: none;
                    border: none;
                    transition: all 0.4s ease-in-out;
                    width: 10rem;
                    text-align: end;
                    background: var(--background-header);
                    height: 2.5rem;

                    button {
                        border: none;
                    }
                }

                .item-btns-static {
                    display: flex;
                    font-size: 10px;
                    color: GREY;
                }

                .item-btns-pb {
                    @extend .item-btns-static;

                }

                &:hover {
                    background-color: var(--background-second);
                    justify-content: space-between;

                    span {
                        color: var(--color-checked);
                    }

                    .item-btns {
                        display: block;
                    }

                    span {
                        width: 50%;
                    }

                    .item-btns-static {
                        display: none;
                    }
                }
            }
        }

        .list-btns {
            display: none;
            transition: all 0.4s ease-in-out;
            justify-content: space-between;
            padding-right: 5px;



            @media screen and (max-width:900px) {
                display: flex;
            }

            button {
                border: none;
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                width: 3rem;
                height: 3rem;
                font-size: 16px;
                margin-top: 1px;
                border-radius: 5px;
                cursor: pointer;
                background-color: var(--background-first);
                color: grey;

                &:hover {
                    background-color: var(--background-second);
                }
            }
        }

        .listFooter {
            background-color: var(--background-header);
            width: 100%;
            font-size: 17px;
            height: 3.2rem;
            border-radius: 10px;
            text-align: center;
            color: black;

            .fff {
                position: relative;
                width: 3rem;
                z-index: 700;
                top: -32rem;
                left: 15px;
            }
        }

        &:hover {
            transform: translateY(-5px);

            .list-btns {
                display: flex;
            }
        }


    }

    @media screen and (max-width:600px) {
        justify-content: center;
    }
}

.play-vert {
    width: 3rem;
    position: relative;

    .playMenubtn {
        display: none;
        position: absolute;
        opacity: 0.9;
        height: fit-content;
        background-color: var(--background-switch);
        color: azure;
        text-align: start;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 0 20px;
        padding-left: 0;
        transition: all 0.4s;
        right: 0;

        bottom: 0px;

        p {
            text-orientation: upright;
            writing-mode: tb;
            font-size: 8px;
            letter-spacing: -4px;
            margin-right: 8px;
            padding: 0;
            margin: 0;
            border-right: 1px solid white;
            background: crimson;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        .play-menu {
            margin-left: 10px;
            width: 18rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .oneP {
                font-size: 20px;
                margin: 1px;
                text-align: center;
                font-weight: 800;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: translateY(-5px);
                }
            }
        }

        .play-vert {
            flex-direction: column;
            width: fit-content;
        }

    }

    &:hover {
        .playMenubtn {
            display: flex;
        }
    }

}