.toggleBtn {
    border: none;
    width: 6rem;
    padding: 1px 0;
    // background-color: white;

    &:hover {
        // outline: 3px solid rgb(134, 181, 251);
        color: #193b70;
    }

    margin-right: 1rem;

    svg {

        // padding: 2px;
        font-size: 14px;

    }
}