.navbarico{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 5px;
    left: 0;
  }
 .nav{
   background-color:rgb(74 99 202);
    position:fixed;
    display:flex;
    top:0;
     right:0;
     left:0;
     justify-content:flex-end;
     /* justify-content:center; */
     z-index: 500;
 
  }
 .logout{
    font-size:large;
    height: 100%;
    border: none;
    font-weight: 500;
  }

  @media screen and (min-width: 600px) {
    .nav{
      font-size: large;
    }
  }
  @media screen and (max-width: 600px) {
    .nav{
      position: relative;
      font-size: small;     
      padding-right: 0rem;
      width: fit-content;
      flex-wrap: wrap;
    }
  }